.App {
  text-align: center;
  box-shadow: black 5px 5px 5px ;
    .AB
    {
      background-color: rgb(232, 241, 242);
    }
    .CD
    {
      background-color: white;
      box-shadow: black 5px 5px 5px ;
      
    }
    .JD
    {
      background: url("/public/image/ss.jpg");
      background-repeat: no-repeat;
      background-color: white;
      float: right;
      align-items: center;
      border: none;
      size: 100%;
    }
    .BJ
    {
      background-color: rgb(119, 109, 109);
      height: 100px;
      width: 100px;
      left: 60px;
      bottom: -50px;
     
    }
    .V
    {
      color: rgb(2, 31, 31);
      margin-left: -60px;
      font-size: x-large;
      margin-top: 160px;
      font-style:inherit;
    }
    .K
    {
      color: blue;
      margin-left: -160px;
      font-size: xx-small;
      margin-top: 190px;
      font-style: inherit;
    }
    .N
    {
      color: black;
      margin-left: 15px;
      font-size: xx-small;
      margin-top: 190px;
      font-style: inherit;
    }
    .L
    {
      margin-left: -100px;
      font-size: medium;
      margin-top: 30px;
      font-style: inherit;
    }
    .F
    {
      color: black;
      font-size: xx-small ;
      margin-top: 250px;
      margin-left: -55px;
    }
    .LA
    {
      font-size: xx-large;
      margin-right: 400px;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 160px;
    }
    .MF
    {
      font-size: x-large;
      margin-right: 400px;
    }
    .LO
    {
      margin-left: 172px;
    }
    
}
